version: '2'
services:
  composer:
    image: prooph/composer:7.2
    volumes:
      - .:/app
    links:
      - postgres:postgres
      - mariadb:mariadb
      - mysql:mysql
    environment:
      - COMPOSER_ALLOW_SUPERUSER=1

  postgres:
    image: postgres:alpine
    environment:
      - POSTGRES_DB=event_store_tests

  mariadb:
    image: mariadb:10.3
    environment:
      - MYSQL_ROOT_PASSWORD=
      - MYSQL_ALLOW_EMPTY_PASSWORD=yes
      - MYSQL_DATABASE=event_store_tests

  mysql:
    image: mysql:5.7
    environment:
      - MYSQL_ROOT_PASSWORD=
      - MYSQL_ALLOW_EMPTY_PASSWORD=yes
      - MYSQL_DATABASE=event_store_tests
